/*
------------
  Theme 2
------------
*/

// Backgrounds
$lightGrey:hsl(0, 0%, 90%);
$greyishRed:hsl(0, 5%, 81%);
$very-lightGrey:hsl(0, 0%, 93%);
// Keys
$cyanBg:hsl(185, 42%, 37%);
$darkCyan:hsl(185, 58%, 25%);
$orange: hsl(25, 98%, 40%);
$darkOrange:hsl(25, 99%, 27%);
$lightGreyYellow:hsl(45, 7%, 89%);
$feint-lightGreyYellow:hsla(48, 14%, 93%, 0.719);
$darkGreyYellow:hsl(35, 11%, 61%);
$feint-darkGreyYellow:hsla(34, 11%, 61%, 0.418);
$very-darkGreyYellow:hsl(60, 10%, 19%);
$white:hsl(0, 0, 100%);